/bin/
# IDE specific configuration files
.vscode/
.idea/
*.iml


# honestly have no clue where that one came from
InItToWinIt_Team26_en_CA.properties/

# compiled output generated
/out/
/target/

# eclipse project files
/.settings/
/.classpath
/.project
/papyrus/.settings/
/papyrus/.project/
/papyrus/.classpath/


**/.venv/**
visualizer/scraped_boards/**.png
visualizer/state.json

#drafts
src/main/java/catan/Observer.java
src/main/java/catan/Subject.java
